*{box-sizing: border-box;}
body{margin: 0; padding: 0; margin-bottom: 25000px;}



.up{ margin-left: 0; padding: 0; white-space: nowrap;}       

.up nav{text-decoration: none;  border: 2px solid; padding: 5px 10px;
border-radius: 4px; display: flex; gap: 20px; background-color: #F0F8FF; justify-content: center;
 border-color: #F0F8FF; padding: 0 0;}

.up span{margin-right: 30px; color: black;  margin-right: 30px;}

.up span:hover{text-decoration: underline; }        


.up a{text-decoration: none; width: 1000px;}

.menu p{ color: blue; margin-left: 200px;} 

.asd span{background-color: red; display: inline-block; height: 23px; color: white; padding: 22px 0;}

.middle h4{ margin-left: 200px; display: flex; gap: 15px; font-size: 20px;}  

.bi-browser-chrome{display: flex; gap: 15px;}

.middle span{white-space: nowrap; padding: 0 50px;}
.middle span:hover{text-decoration: underline; color: blue;} .middle a{text-decoration: none; color: black;}

@media screen  and  (max-width: 768px) {.middle {display: block; text-align: center;}} 

.side button{width: 10600px; border: 1px solid gray; background-color: gray;}

.side p{padding: 30px; display: inline-block; margin: 0; margin-right: -57px;}

.side a{text-decoration: none; color: black;}   .side h1{padding: 0; margin-left: 60px; line-height: 0.5;}
.side h2{padding: 50px; margin-top: -35px;}

.line p{padding: 26px; margin-top: -60px; font-size: 1.2em;}
.line img{margin-left: 1200px; width: 300px; height: 300px; margin-top: -900px; margin-bottom: 300px;}
.line span{margin-left: 1230px; margin-top: -250px; display: block;}
.line b{margin-left: 1270px; margin-top: 50px; display: block;}  

.line a{text-decoration: none; color: purple;}
.line a:hover{text-decoration: underline;}

.connections img{margin-left: 1220px; margin-top: 20px; display: block;}
.connections b{margin-left: 1270px; margin-top: 20px; display: block;}

.connections a{text-decoration: none;}
.connections a:hover{text-decoration: underline;}
.connections h2{padding: 30px; margin-top: -81px;}

.exp img{padding: 30px; width: 170px; height: 170px; margin-top: -50px;}
.exp p{margin-top: -150px; margin-left: 150px; font-size: 22px;}  .exp b{margin-top: 150px; margin-left: 150px; font-size: 22px;}

.non p{margin-top: 2px; margin-left: 150px; line-height: 0; font-size: 22px;}  .sw p{margin-top: 2px; margin-left: 150px; line-height: 2; font-size: 22px;}

.gh p{margin-top: 2px; margin-left: 150px; line-height: 0; font-size: 22px;}  .ty p{margin-top: 2px; margin-left: 20px; line-height: 1; font-size: 22px;}

.lk p{margin-top: 2px; margin-left: 20px; line-height: 0; font-size: 22px;} .bn p{margin-top: 2px; margin-left: 20px; line-height: 0; font-size: 22px;}


